@import url("https://fonts.googleapis.com/css?family=Numans");
.overall {
  background-image: url(./images/image1.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.overall2 {
  background-image: url(./images/image3.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.specialcase {
  background-image: url(./images/image3.jpg);
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.overall3 {
  background-image: url(./images/image4.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  border-radius: 5px !important;
  background-color: rgba(255, 255, 255, 0.493) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 5px;
  color: #0468c5;
}

.social_icon span:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.card-header h3 {
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #0468c5;
  color: rgb(255, 255, 255);
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: rgb(0, 0, 0);
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  width: 100px;
  margin-left: 250px;
  margin-top: 30px;
  background-color: #0468c5;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: rgb(0, 0, 0);
}

.links a {
  margin-left: 4px;
}

.form {
  padding: 10%;
}

.num {
  margin-left: 10px;
  margin-right: 25px;
  width: 70px;
  initial-value: 0;
}

.team {
  display: inline-flex;
  flex: 1;
  margin: 0px;
}

.submit_btn {
  width: 100px;
  margin-left: 250px;
  margin-top: 30px;
  background-color: #0468c5;
}

.submit_btn:hover {
  color: black;
  background-color: white;
}

.text-box {
  margin-left: -2cm;
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: rgb(37, 96, 173);
  color: rgb(255, 255, 255);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animation {
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.centred {
  padding-top: 20px;
  text-align: center;
}

.righted {
  margin-left: 37%;
  width: 200px;
}

.colour {
  background-color: #0468c5;
}

.colour:hover {
  color: black;
  background-color: white;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}
